body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.all-recipes {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.each-recipe {
  width: 25%;
  margin-bottom: 20px;
}
.recipe-ingredients-item {
  list-style-type: none;
}
.recipe-instructions-button {
  margin-bottom: 50px;
}
/* .recipe-modal .carousel{
  background-color: gray;
} */
.recipe-carousel-main-text {
  min-height: 300px;
}